@import url(theme.css);

.face{
    background-color: var(--primary-color);
    display: flex;
    width: 100%;
    height: 60vh;
    align-items: center;
    flex-flow: row;
}

.human{
    display: flex;
    max-height: 400px;
    justify-content: left;
    padding: 50px;
}

.intro{
    display: flex;
    width: auto;
    height: auto;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-grow: 1;
}

.text{
    font-size:5vw;
    font-family: 'Shadows Into Light', cursive;
    background: var(--gradient-color);
    background-clip: unset;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0;
}
.detail {
    font-size: 2.5vw;
    margin-right: -200px;
    font-family: 'Slabo 27px', serif;
}
@media screen and (max-width: 850px){
    .face{
        padding-top: 16vh;
        flex-flow: column;
    }
    .intro{
        align-items: flex-start;
        justify-content: flex-start;

    }
    .human{
     height: 300px;
    }
}
@media screen and (max-width: 630px){
    .face{
        padding-top: 31vh;
        padding-bottom: 150px;
    }
    .text{
        font-size: 7vw;
    }
    .detail{
        font-size: 5vw;
    }
    
}
