@import url("theme.css");
.info{
    background-color: var(--secondary-color);
    display: block;
    width: 100%;
    height: 200vh;
    align-items: center;
    flex-flow: column;
}

#title{
    display: flex;
    width: auto;
    height: auto;
    flex-direction: column;
    margin-left: 100px;
}
.more{
    font-size:3.5vw;

}
p{
    display: flex;
    font-family: 'Antic Slab', serif;
    justify-content: flex-start;
    font-size: 1.5vw;
    color: var(--white-color);
}

.less{
    font-size:2.5vw;
}

.school{
    display: flex;
    width: 650px;
    height: auto;
}

.sch{
    display: flex;
    flex-direction: row;
}

.sch >p {
    display: none;
    font-family: 'Antic Slab', serif;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    font-size: 2vw;
    color: var(--white-color);
}

.school:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

.sch:hover p{
    display: flex;
}

.footer {
    background-color: var(--header-color);
    width: 100%;
    height: 200px;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    flex-direction: column;
    bottom: 0;

}

.footer >h1{
    justify-content: flex-start;
    margin-left: 200px;
    display: flex;
    color: var(--white-color);
}
@media screen and (max-width: 1200px){
    
    .sch{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
}
#uli {
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: row;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  #uli li {
    list-style: none;
    margin: 0 15px;
  }
  
  #uli li a {
    position: relative; 
    display: block;
    width: 60px;
    height: 60px;
    text-align: center;
    line-height: 63px;
    background: #333;
    border-radius: 50%;
    font-size: 30px;
    color: #666;
    transition: .5s;
  }
  
  #uli li a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: var(--secondary-color);
    transition: .5s;
    transform: scale(.9);
    z-index: -1;
  }
  
  #uli li a:hover::before {
    transform: scale(1.1);
    box-shadow: 0 0 15px var(--secondary-color);
  }
  
  #uli li a:hover {
    color: var(--secondary-color);
    box-shadow: 0 0 5px var(--secondary-color);
    text-shadow: 0 0 5px var(--secondary-color);
  }

  
  .skills{
      display: flex;
      flex-flow: column;
      justify-content: center;
  }
  
  .skills > span >p{
        font-size:2vw;
        color:var(--white-color);
        align-items: flex-start;
        padding: 0;
        margin-bottom: 20px;
        top: 0;
  }

  .progressBar {
    width: 50%;
    height: 30px;
    display: none;
    margin-left:30px;
    top:0;
  }

  .progressHtml {
    width: 80%;
    display: none;
    background-color: var(--hover-color);
    height: 100%;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
  }

  .progressCss{
    width: 50%;
    display: none;
    background-color: var(--hover-color);
    height: 100%;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
  }


@keyframes progressH{
    0% {
      width: 0%;
    }
    
    100% {
      width: 80%;
    }
}

@keyframes progressC{
        0% {
          width: 0%;
    }
        
        100% {
          width: 50%;
        }
}   
  .skills >span:hover .progressBar{

    display: flex;
    border: 2px solid black;
    border-radius: 7px;
  }
  .skills .progressHtml{
    display: flex;
    animation-name: progressH;
    animation-iteration-count: 1;
    animation-duration: 2s;
  }
  .skills .progressCss{
    display: flex;
    animation-name: progressC;
    animation-iteration-count: 1;
    animation-duration: 2s;
  }
  
  .skills >span:hover p {
      mask-image:unset;
      mask-size: unset;
    -webkit-mask-image: linear-gradient(-75deg, rgba(0,0,0,.6) 30%, #000 50%, rgba(0,0,0,.6) 70%);
    -webkit-mask-size: 200%;
    animation: shine 2s infinite;
    z-index: 2;
  }
  
  @keyframes shine {
    from {
      -webkit-mask-position: 150%;
    }
    
    to {
      -webkit-mask-position: -50%;
    }
  }
  

  




@media screen and (max-width: 800px){
    
    .school{
        width: 80%;
    }
    #title{
        margin-left:0;
    }
    #title > ul > li > p {
        font-size: 4vw;
    }
    #title >ul > p {
        font-size: 3.5vw;
    }
    .more
    {
        font-size: 8vw;
    }
    .less
    {
        font-size: 6vw;
    }
    .sch >p{
        font-size: 3.5vw;
    }
    .sectionL{
        justify-content: center;
    }
    .sectionL > p {
        font-size: 6vw;
    }
    .footer > h1{
        margin-left: 0;
        justify-content: center;
    }
    #uli{
        flex-flow: column;
    }
    .footer{
        height: 500px;
    }
    .skills >span >p {
        font-size: 6vw;
    }
    .skills >span{
        display: flex;
        align-items: center;
    }
    
    
}




