header {
    background: #4d16f2;
    height: 135px;
    vertical-align: middle;
}

*{
    padding: 0;
    margin: 0;
}

html, body{
	height:100%;
    margin: 0;
}

h1{
    display:block;
}

.title{
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
    color: white;
}

ul.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #4d16f2;
  }
  
ul.menu li {
    float: left;
  }
  
ul.menu li a {
    display: block;
    color: white;
    text-align: center;
    padding: 30px 34px;
    text-decoration: none;
    font-size: 25px;
  }
ul.menu li a:hover:not(.active) {
    background-color: #111;}
  
ul.menu li a.active {
    background-color: #04AA6D;
  }

  @media screen and (max-width: 600px) {
    ul.topnav li.right, 
    ul.topnav li {float: none;}
  }
a {
    display:inline;
}
img{
    display: inline;
    color: white;
    text-align: center;
    height: 80px;
    background-image:#4d16f2;
}
    
